html
  head
    title basic-node-blog
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(type='text/css', rel='stylesheet', href='/../css/materialize.css', media='screen,projection')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(type='text/javascript', src='/../js/jquery-3.1.1.js')
    script.
      function validateForm() {
        var password = document.forms['loginForm']['password'].value;
        var email = document.forms['loginForm']['email'].value;
        if (email == '') {
          $('#error-message').html("Please fill out your email address.");
          document.forms['loginForm']['email'].focus();
          return false
          }
        if (email.length > 50) {
          $('#error-message').html("Invalid email.");
          document.forms['loginForm']['email'].focus();
          return false
        }
        if (password == '') {
          $('#error-message').html("Please fill out your password.");
          document.forms['loginForm']['password'].focus();
          return false
        }
        if (password.length > 50) {
          $('#error-message').html("Invalid password");
          document.forms['loginForm']['password'].focus();
          return false
        }
        if (password.length < 8) {
          $('#error-message').html("Invalid password");
          document.forms['loginForm']['password'].focus();
          return false
        }
          return(true)
      }

  body(style='font-size: 22')
    if user
      .navbar-fixed
          nav
            .nav-wrapper.grey.darken-3
              a.brand-logo(href='/' style='padding: 0 0 0 15%') Home
              ul#nav-mobile.right.hide-on-med-and-down(style='padding: 0 15%')
                li
                  a(href='/allposts') All Posts
                li
                  a(href='/ownposts') Own Posts
                li
                  a(href='/createpost') Create Post
                li
                  a(href='/logout') Logout
      .container 
        //put all content within the container
        
        .header
          br
          h2=user.username
          h1 Welcome!
          br
    else
      .navbar-fixed
          nav
            .nav-wrapper.grey.darken-3
              a.brand-logo(href='/' style='padding: 0 0 0 15%') Home
              ul#nav-mobile.right.hide-on-med-and-down(style='padding: 0 15%')
                li
                  a(href='/allposts') All Posts
                li
                  a(href='/register') Register
      .container 
        //put all content within the container
        
        .header
          br
          h1 Welcome!
          br
          .row
            form(method='POST', action='/login', name='loginForm', onsubmit='return validateForm()')
              .row
                .input-field.col.s12
                  input#email.validate(type='text', name='email', maxlength=50, required) 
                  |
                  br
                  | 
                  label(for='email', class='active') Email
                .input-field.col.s12
                  input#password.validate(type='password', name='password', maxlength=50, required) 
                  |
                  br
                  | 
                  label(for='password', class='active') Password
                .input-field.col.s12
                  button.btn.btn-primary(type='submit') Submit
           
          
          script(type='text/javascript', src='js/materialize.js')

        h2#error-message= message
